<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include Bootswatch_Cerulean.html %}
  <body>

    {% include header.html %}

  <div class="row">
    <div class="page-content content-block">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="bs-component">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ page.title }}</h3>
            </div>
            <div class="panel-body">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% include footer.html %}

  </body>

</html>
